.navbar {
    background-color: #003049;
}

a.navbar-brand {
    font-family: 'Silkscreen', cursive;
    font-size: calc(16px + 0.8vw); 
    color: white;
}

a.navbar-brand:hover {
    color: #EAE2B7;
}

li.login {
    font-family: 'Silkscreen', cursive;
    font-size: calc(10px + 0.5vw); 
    color: white;
}
